<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle</title>
</head>

<body>
    <h1>Circle</h1>
    <header>
        <nav>
            <ul>
                <li><a href="/api/circle">Circle calculator</a></li>
                <li><a href="/api/triangle">Triangle calculator</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/api/circle" method="post">
            <div>
                <label for="radious">Radious: </label>
                <input type="text" name = "radious">
            </div>
            <div>
                <button type="submit">Area Calculate</button>
            </div>
        </form>
    </main>
   
</body>

</html>