<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triangle</title>
</head>
<body>
    <h1>Triangle</h1>
    <header>
        <nav>
            <ul>
                <li><a href="/api/circle">Circle calculator</a></li>
                <li><a href="/api/triangle">Triangle calculator</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/api/triangle" method="post">
            <div>
                <label for="base">Base: </label>
                <input type="text" name = "base">
            </div>
            <div>
                <label for="hight">Hight: </label>
                <input type="text" name = "hight">
            </div>
            <div>
                <button type="submit">Area Calculate</button>
            </div>
        </form>
    </main>
    
</body>
</html>