body{
    background-image: url("../img/background.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;
}
h1{
    color: brown;
    text-align: center;
}
li{
    width: 10%;
    margin:2px auto ;
}

li a{
    color: teal;
}